#   List and Tuples
    * list mutable[,,,]
    * list immutable(,,,)
     
  ## list[index]
    extract single value from list or tuple
   
  ## list[start:end]
       extract multiple values from the list or tuple(start include,end exclude one minus)
  
  ## list[start:end:seq]
     extract multiple values from the list or tuple also define sequence

In [1]:
name="Taqwa Khaliq"

In [2]:
# ->     0        1       2      3      4
names=["Komal","Taqwa","Adan","Yusra","Eman"]
#        -5      -4    -3       -2       -1   <-
#list[index]
#list[start:end:seq]
#list[start:end:seq]

# list[index]
 extract single value from list or tuple

In [3]:
# ->     0        1       2      3      4
names=["Komal","Taqwa","Adan","Yusra","Eman"] 
#        -5      -4    -3       -2       -1   <-
print(names)
print(names[4])#extract values with positive index
print(names[-3])#extract values with negative index

['Komal', 'Taqwa', 'Adan', 'Yusra', 'Eman']
Eman
Adan

In [4]:
# ->     0        1       2      3      4
names=["Komal","Taqwa","Adan","Yusra","Eman"] #elements,items
#        -5      -4    -3       -2       -1   <-
print("Before",names)

names[0]="Taqwa Khaliq"   #update value with index number
print("After",names)

Before ['Komal', 'Taqwa', 'Adan', 'Yusra', 'Eman']
After ['Taqwa Khaliq', 'Taqwa', 'Adan', 'Yusra', 'Eman']

In [5]:
names

['Taqwa Khaliq', 'Taqwa', 'Adan', 'Yusra', 'Eman']

## list[start:end]

# Slicing(extract multiple values in a sequence)
  extract multiple values from list or tuple(start include,end exclude,index-1)

   esc->m->shift+enter

In [5]:
# ->     0        1       2      3      4
names=["Komal","Taqwa","Adan","Yusra","Eman"] #elements,items
#        -5      -4    -3       -2       -1   <-

print(names[1:3]) #start include,end exclude index-1
print(names[1:4])
print(names[1:5])

['Taqwa', 'Adan']
['Taqwa', 'Adan', 'Yusra']
['Taqwa', 'Adan', 'Yusra', 'Eman']

In [6]:
names=["Komal","Taqwa","Adan","Yusra","Eman"] #elements,items

i = 0
while i<len(names):
    print(names[i])
    i += 1

Komal
Taqwa
Adan
Yusra
Eman

In [7]:
names=["Komal","Taqwa","Adan","Yusra","Eman"] #elements,items

s=int(input("start no:"))
e=int(input("end no:"))
i=s
while  i<e:
    print(names[i])
    i += 1

start no:1
end no:4
Taqwa
Adan
Yusra

# list[start:end:seq]
  extract multiple values from list or tuple also define sequance
  
  start = include
  
    end = exclude or index-1
    
  sequance = steps (defualt value of step=1)
  
    range(start,end,step)

In [9]:
numbers=list(range(1,21))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [10]:
numbers=list(range(1,21))
print(numbers)
#[start:end:step]
print(numbers[8:])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [8]:
numbers = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
print(numbers)
#[start:end:step]
print(numbers[:16])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [12]:
numbers = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
print(numbers)
#[start:end:step]
print(numbers[7:16]) #numbers[7:16:1]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[8, 9, 10, 11, 12, 13, 14, 15, 16]

In [13]:
numbers = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
print(numbers)
#[start:end:step]
print(numbers[::2]) #numbers[7:16:1]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [14]:
numbers = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
print(numbers)
#[start:end:step]
print(numbers[::3]) #numbers[7:16:1]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[1, 4, 7, 10, 13, 16, 19]

In [ ]:
# if step=1(slicing left to right)
 #if step=-1(slicing right to left)

In [21]:
numbers = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
print(numbers)
#[start:end:step]
print(numbers[::-1]) # right to left

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [22]:
numbers=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
print(numbers)
#[start:end:step]
print(numbers[0:10:-1])#right to left
print(numbers[::-1])#right to left
print(numbers[-11:-21:-1])
print(numbers[9::-1])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[]
[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [24]:
numbers=[1,2,3,4,5]
print(numbers)
print(numbers[::-1])
print(numbers[3:0:-1])#4,3,2
print(numbers[-2:-5:-1])#4,3,2

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
[4, 3, 2]
[4, 3, 2]

In [25]:
numbers = [1,2,3,4,5]
print(numbers)
print(numbers[-2:-5:]) #4,3,2
print(numbers[-5:-2:1])
print(numbers[2::-1])

[1, 2, 3, 4, 5]
[]
[1, 2, 3]
[3, 2, 1]

# List Methods

In [3]:
names=["Komal","Taqwa","Adan","Yusra","Eman"]
names

['Komal', 'Taqwa', 'Adan', 'Yusra', 'Eman']

In [4]:
dir(names)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [11]:
print(names)
names.append("Areeba") #add element in the list at all
print(names)

['Komal', 'Taqwa', 'Adan', 'Yusra', 'Eman', 'Areeba', 'Maham']
['Komal', 'Taqwa', 'Adan', 'Yusra', 'Eman', 'Areeba', 'Maham', 'Areeba']

In [6]:
names.append("Maham")

In [7]:
names

['Komal', 'Taqwa', 'Adan', 'Yusra', 'Eman', 'Areeba', 'Maham']

In [10]:
print(numbers)
numbers.clear()
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[]

In [12]:
sname=names
print(sname)
print(names)
names[0]="Taqwa Khaliq"
print(sname)
print(names)

['Komal', 'Taqwa', 'Adan', 'Yusra', 'Eman', 'Areeba', 'Maham', 'Areeba']
['Komal', 'Taqwa', 'Adan', 'Yusra', 'Eman', 'Areeba', 'Maham', 'Areeba']
['Taqwa Khaliq', 'Taqwa', 'Adan', 'Yusra', 'Eman', 'Areeba', 'Maham', 'Areeba']
['Taqwa Khaliq', 'Taqwa', 'Adan', 'Yusra', 'Eman', 'Areeba', 'Maham', 'Areeba']

In [14]:
l1=['1','2','3']
l2=l1.copy()
print(l1)
print(l2)

['1', '2', '3']
['1', '2', '3']

In [15]:
l1[1]="ABC"

print(l1)
print(l2)

['1', 'ABC', '3']
['1', '2', '3']

In [16]:
names

['Taqwa Khaliq', 'Taqwa', 'Adan', 'Yusra', 'Eman', 'Areeba', 'Maham', 'Areeba']

In [17]:
l1=['1','2','3']
l2=l3=l4=l1 #nick name or shallow copy

l4[0]='ABC'

print(l1)
print(l2)
print(l3)
print(l4)

['ABC', '2', '3']
['ABC', '2', '3']
['ABC', '2', '3']
['ABC', '2', '3']

In [18]:
l1=['1','2','3']
l4=l1.copy() #deep copy

l4[0]='ABC'

print(l1)
print(l4)

['1', '2', '3']
['ABC', '2', '3']

In [1]:
l1=[1,2,3]
l2=[3,4,5]
l1+l2

[1, 2, 3, 3, 4, 5]

In [4]:
l1=[1,2,3]
l2=[3,4,5]
l1.append(l2)
    
print(l1)
print(l2)

[1, 2, 3, [3, 4, 5]]
[3, 4, 5]

In [6]:
l1=[1,2,3]
l2=[3,4,5]
l1.extend(l2)
print(l1)
print(l2)

[1, 2, 3, 3, 4, 5]
[3, 4, 5]

In [7]:
l1

[1, 2, 3, 3, 4, 5]