# how to assign string values in variables

In [2]:
name="Taqwa Khaliq"  #1
print(name,type(name))

Taqwa Khaliq <class 'str'>

In [3]:
name='Taqwa Khaliq'  #2
print(name,type(name))

Taqwa Khaliq <class 'str'>

In [6]:
# we have to define space characters(\n \t)
data='Name:\t\tTaqwa\nfather Name:\tFazle Khaliq\nBatch:\t\t36-37'
print(data)

Name:		Taqwa
father Name:	Fazle Khaliq
Batch:		36-37

In [2]:
#if you are using single quote at the start or end
# or you want to use in middle of the text then you place (\)  before middle single quote
data='name:\t\tTaqwa\nFather:\t\tFazleKhaliq\nBatch:\t\t36-37'
print(data)

name:		Taqwa
Father:		FazleKhaliq
Batch:		36-37

In [3]:
data="PIAIC\" ss \"Pakistan Zindabad"
print(data)

PIAIC" ss "Pakistan Zindabad

In [5]:
name="Taqwa \"K\"haliq"
print(name,type(name))

Taqwa "K"haliq <class 'str'>

In [11]:
#  triple single quote or triple single quote=multi line sting
data="""
Name:		Taqwa
father Name:	Fazle Khaliq
Batch:		36-37
"""
print(data)

Name:		Taqwa
father Name:	Fazle Khaliq
Batch:		36-37

In [10]:
name

'Taqwa "K"haliq'

In [12]:
print(data)

Name:		Taqwa
father Name:	Fazle Khaliq
Batch:		36-37

In [8]:
data="""
Name:		Taqwa
father Name:	Fazle Khaliq
Batch:		36-37
"""
data #if you write in lastline=output raw text

'\nName:\t\tTaqwa\nfather Name:\tFazle Khaliq\nBatch:\t\t36-37\n'

In [13]:
# https://www.w3schools.com/python/gloss_python_variable_names.asp#:~:text=Rules%20for%20Python%20variables%3A,0%2D9%2C%20and%20_%20)

# how to apply  variable name rules

In [9]:
1name="Taqwa"

SyntaxError: invalid syntax (2116635035.py, line 1)

In [10]:
_1name="Taqwa"
_1name

'Taqwa'

In [14]:
father_Name="Fazle-e-Khaliq"
father_Name

'Fazle-e-Khaliq'

In [15]:
father@Name="Fazle-e-Khaliq"
father@Name

SyntaxError: cannot assign to operator (4276802103.py, line 1)

In [16]:
name="Taqwa Khaliq"
print(Name)

NameError: name 'Name' is not defined

In [11]:
"a"
'b'
'c'#jupyter cell always returns last line

'c'

# Concatenation(combine 2 or more values and variables)|Text Formation

In [12]:
name="Taqwa Khaliq"
father_name="Fazl_e_Khaliq"
education="BS"
designation="Null"
print(name,father_name,education,designation)

Taqwa Khaliq Fazl_e_Khaliq BS Null

In [13]:
name="Taqwa Khaliq"
father_name="Fazl_e_Khaliq"
education="BS"
designation="Null"
print(name,father_name,education,designation,sep="\n")

Taqwa Khaliq
Fazl_e_Khaliq
BS
Null

In [17]:
print('a')
print('b')

a
b

In [18]:
name="Taqwa Khaliq"
father_name="Fazl_e_Khaliq"
education="BS"
designation="Null"
height=5.11
# + operator on string join two strings variables

result="PIAIC Student Card\nName:"+name+"father_name:"+father_name+"\nEducation:"+education+"\nDesignation:"+designation+"\nHeight:"+str(height)
print(result)

PIAIC Student Card
Name:Taqwa Khaliqfather_name:Fazl_e_Khaliq
Education:BS
Designation:Null
Height:5.11

In [19]:
name="Taqwa Khaliq"
father_name="Fazl_e_Khaliq"
education="BS"
designation="Null"
height=5.11

data="""
PIAIC Teacher Card
Name:{4}
Father's Name:{0}
Education:{2}
Designation:{3}
Height:{1}
""".format(father_name,height,education,designation,name)  #now we dont need to typecast
#            0            1       2        3          4
print(data)

PIAIC Teacher Card
Name:Taqwa Khaliq
Father's Name:Fazl_e_Khaliq
Education:BS
Designation:Null
Height:5.11

In [20]:
name="Taqwa Khaliq"
father_name="Fazl_e_Khaliq"
education="BS"
designation="Null"
height=5.11

data="""
PIAIC Teacher Card
Name:{name}
Father's Name:{father_name}
Education:{education}
Designation:{designation}
Height:{height}
"""
print(data)

PIAIC Teacher Card
Name:{name}
Father's Name:{father_name}
Education:{education}
Designation:{designation}
Height:{height}

In [21]:
name

'Taqwa Khaliq'

In [ ]:
  0  1  2  3  4
( a, b, c, d, e)

In [25]:
 a="Pakistan"
 b=1000
 a+b

TypeError: can only concatenate str (not "int") to str

In [26]:
int('100')

100

In [27]:
a="Pakistan"
b=1000
a+str(b)

'Pakistan1000'

In [32]:
abc= input("Enter any value") #always return text value
print(abc)

Enter any valuePakistan Zindabad
Pakistan Zindabad

In [33]:
Name=input("Enter Your Name")
Father_name=input("Father Name")
Education=input("Education")
Designation=input("Your Dsignation")
Height=float(input("Your Height"))
data=f"""
Name:{name}
Father's Name:{father_name}
Education:{education}
Designation:{designation}
Height:{height}
"""
print(data)

Enter Your NameTaqwa Khaliq
Father NameFazleKhaliq
EducationBS
Your DsignationNULL
Your Height5.11

Name:Taqwa Khaliq
Father's Name:Fazl_e_Khaliq
Education:BS
Designation:Null
Height:5.11

In [35]:
name="TAQWA KHALIQ"
name.capitalize()

'Taqwa khaliq'

In [38]:
name="TAQWA KHALIQ"
name.casefold()

'taqwa khaliq'

In [41]:
name="TAQWA KHALIQ"
name.center(20)

'    TAQWA KHALIQ    '

In [48]:
name="TAQWA KHALIQ"
name.encode(encoding='utf-8', errors='strict')
print(name.encode)

<built-in method encode of str object at 0x0000028079217CF0>

In [54]:
name="TAQWA KHALIQ"
name.endswith("KHALIQ")

True

In [64]:
name="Taq\twa\tKhaliq"
name.expandtabs(10)

'Taq       wa        Khaliq'

In [74]:
string1="Remember Allah Wherever you are"
string1.find("you")
#print(string)

24

In [82]:
string1="Remember Allah Wherever you are"
x="you"
y="are"
mytable = string1.maketrans(x, y)

print(string1.translate(mytable))

Remember Allah Wherever are are

In [87]:
string1="Remember Allah Wherever you are"
print(string1.find("er"))
print(string1.find("er",7))
print(string1.find("a",20))

6
17
28

In [88]:
string1="Remember Allah Wherever you are"
string1[2:7]

'membe'

In [90]:
string1="Remember Allah Wherever you are"
string1.index("W")

15