# Review

In [1]:
a=7 #Global Variable
 
    def abc():
        a=8  #local variable
        return a
    
print(abc())#call function and return local variable value
    print(a)

IndentationError: unexpected indent (2179349127.py, line 3)

In [2]:
a=7 #Global Variable
b=1 
    def abc():
    global a #update global Variable using global keyword
    a=8
    b=20
        return a
    
    print(abc())#call function and return local variable value
    print(a)

IndentationError: unexpected indent (292697332.py, line 3)

In [3]:
a=7 #Global Variable
b=1 
def abc():
    a=8
    b=20
    global c
    c='Pakistan'
    return a,b,c
    
    print(abc())#call function and return local variable value
    print(a)

In [4]:
a=7 #Global Variable
b=1 
z='ABC'
def abc():
    a=8
    b=20
    global c
    c='Pakistan'
    return a,b,c
    
    print(abc())#call function and return local variable value
    print(z)

In [5]:
a =5
b =5
a==b  #Compare Values

True

In [6]:
a is b #compare objects

True

In [7]:
xyz=7
abc=7

print(id(xyz)) #same object
print(id(abc))  #same object

2090413550064
2090413550064

In [8]:
a="1"
b=1

a==b

False

# Nested Condition

In [10]:
course=="CNC"

q1t1="AI for everyone"
q1t2="python1 test"
q1t3="python2 test"

if course=="AI":
     if q1t1=='AI for everyone' and q1t3=='python2 test':
        print('attempt 1st and Last Quiz')
    elif qlt2 =='python1 test1':
        print('attempt 1st and 2nd Quiz')
    elif q1t1=='Pakistan':
        print('Pakistan Zindabad')  
    else:
        print("Not Attempt any Quiz")
else:
    print('He or She is not an AI student')

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 10)

In [11]:
#if q1t1=='AI for everyone' and q1t3=='python2 test':
       # print('attempt 1st and Last Quiz')
 
 '''
 elif qlt2 =='python1 test1':
        print('attempt 1st and 2nd Quiz')
    elif q1t1=='Pakistan':
        print('Pakistan Zindabad')  
    else:
        print("Not Attempt any Quiz")
        
 '''

IndentationError: unexpected indent (478016556.py, line 4)

In [14]:
x="""
a=7
b=8
print(a+b)
"""
result=compile(x,"aaa",'exec')
exec(result)

15

In [16]:
numbers=[1,2,3,4,5,5,5]
print(numbers)
del numbers[-1]   #Remove func reads the text

[1, 2, 3, 4, 5, 5, 5]

In [17]:
numbers=[1,2,3,4,5,5,5]
set(numbers)

{1, 2, 3, 4, 5}

In [18]:
numbers=[1,2,2,3,3,1,4,5,5,5]    #set function gives out a unique value
list(set(numbers))

[1, 2, 3, 4, 5]

In [29]:
first_names = ["BlueRay ", "Upchuck ", "Lojack ","Gizmo ", "Do-Rag "]
last_names = ["Zzz", "Burp", "Dogbone", "Droop"]
full_names = []
for a_first_name in first_names:
    for a_last_name in last_names:
    full_names.append(a_first_name + " " +a_last_name)

full_names

IndentationError: expected an indented block (2015208695.py, line 6)

In [33]:
names=['Taqwa','Adan','Komal']
test=['AI For Everyone','python test1','python test2']

result=[]
for name in names:
    for test in tests:
        result.append(name+" "+test)
        
result

NameError: name 'tests' is not defined

In [34]:
d={
    'id':1,
    'name':'Taqwa Khaliq',
    'fname':'Fazle Khaliq',
    'education':'BSCS',
     'age':21
}

d

{'id': 1,
 'name': 'Taqwa Khaliq',
 'fname': 'Fazle Khaliq',
 'education': 'BSCS',
 'age': 21}

In [36]:
for abc in d:   #return keys
    print(abc)

id
name
fname
education
age

In [37]:
for abc in d.values():   #return values
    print(abc)

1
Taqwa Khaliq
Fazle Khaliq
BSCS
21

In [38]:
for abc in d.items():   #return items
    print(abc)

('id', 1)
('name', 'Taqwa Khaliq')
('fname', 'Fazle Khaliq')
('education', 'BSCS')
('age', 21)

In [39]:
for k,v in d.items():  #return keys and values both
    print(k,v)

id 1
name Taqwa Khaliq
fname Fazle Khaliq
education BSCS
age 21

In [40]:
d.keys()

dict_keys(['id', 'name', 'fname', 'education', 'age'])

In [41]:
d.values()

dict_values([1, 'Taqwa Khaliq', 'Fazle Khaliq', 'BSCS', 21])

In [42]:
d.items()

dict_items([('id', 1), ('name', 'Taqwa Khaliq'), ('fname', 'Fazle Khaliq'), ('education', 'BSCS'), ('age', 21)])

# List Of Dictionaary

In [44]:
students=[
    {'id':1,
    'name':'Taqwa'},
  {  'id':2,
   'name':'Komal'},
    {
        'id':3,
        'name':'Adan'
    }
]

In [45]:
students[0]

{'id': 1, 'name': 'Taqwa'}

In [46]:
students[0]['name']

'Taqwa'

In [47]:
new_st={'id':4,
        'name':'Taqwa'}

students.append(new_st)

students

[{'id': 1, 'name': 'Taqwa'},
 {'id': 2, 'name': 'Komal'},
 {'id': 3, 'name': 'Adan'},
 {'id': 4, 'name': 'Taqwa'}]

In [48]:
students[0]['skills']=['python','tensorflow','aws']
students

[{'id': 1, 'name': 'Taqwa', 'skills': ['python', 'tensorflow', 'aws']},
 {'id': 2, 'name': 'Komal'},
 {'id': 3, 'name': 'Adan'},
 {'id': 4, 'name': 'Taqwa'}]

In [49]:
students[0]['skills']

['python', 'tensorflow', 'aws']

In [50]:
students[0]['skills'][1]

'tensorflow'

In [52]:
Dict={
    'name':'Taqwa',
    'fname':'Fazle Khaliq',
    'skills':['python','AI'],
    'Job Experience':{'VIT':'7 years',
                      'MITI':'5 years'}
}
Dict['Job Experience']

{'VIT': '7 years', 'MITI': '5 years'}

In [54]:
Dict['Job Experience']['MITI']

'5 years'

In [ ]:
Paradiam
*Linear Programming
*Structural/procedural/control_block/sub_routing
*Object Oriented Programming

In [56]:
print("Pakistan Zinabad")
print("Pakistan Zinabad")
print("Pakistan Zinabad")
print("Pakistan Zinabad")
print("Pakistan Zinabad")
print("Pakistan Zinabad")
print("Pakistan Zinabad")

Pakistan Zinabad
Pakistan Zinabad
Pakistan Zinabad
Pakistan Zinabad
Pakistan Zinabad
Pakistan Zinabad
Pakistan Zinabad

In [57]:
for i in range(10):
    print("Pakistan Zindabad")

Pakistan Zindabad
Pakistan Zindabad
Pakistan Zindabad
Pakistan Zindabad
Pakistan Zindabad
Pakistan Zindabad
Pakistan Zindabad
Pakistan Zindabad
Pakistan Zindabad
Pakistan Zindabad

In [58]:
def taq_speak():
    pass
def taq_listening():
    pass
def taq_eating():
    pass

def nim_speak():
    pass
def nim_list():
    pass
def nim_eating():
    pass