# Dictionary:

In [ ]:
SYNTAX:
    {
    key1:value1,
    key2:value2,
    key3:value3,
    . . .
}
   #always start and end with { }
  #key and values
 # : seperator between key and value
  , #seperator between key:value pair
# key datatypes always should be int or string
#value data types can be any types

In [ ]:
#    0        1          2        3       4
['Taqwa' ,'Adan', 24 , 'BSIS',   'AI']
#we will replace indexes with keys

In [5]:
data = {
    'name' : 'Taqwa',
    'fname' : 'Khaliq',
    'age' : 30,
    'Qualification' : 'BSCS',
    'skills' : ['AI','ML','cloud computing'],
    0 :"Pakistan"
}
data

{'name': 'Taqwa',
 'fname': 'Khaliq',
 'age': 30,
 'Qualification': 'BSCS',
 'skills': ['AI', 'ML', 'cloud computing'],
 0: 'Pakistan'}

In [7]:
#How to access value from dictionary
*dictionary[ 'key' ]

In [8]:
data = {
    'name' : 'Taqwa',
    'fname' : 'Khaliq',
    'age' : 30,
    'Qualification' : 'BSCS',
    'skills' : ['AI','ML','cloud computing'],
    0 :"Pakistan"
}
print(type(data))
data

<class 'dict'>

{'name': 'Taqwa',
 'fname': 'Khaliq',
 'age': 30,
 'Qualification': 'BSCS',
 'skills': ['AI', 'ML', 'cloud computing'],
 0: 'Pakistan'}

In [9]:
data[0]

'Pakistan'

In [10]:
data = {
    'names':['Taqwa' ,'Komal','Adan'],
    'fname':['khaliq','Basharat','Waqas'],
    'courses':[ 'AI','MS','IS']
}
data

{'names': ['Taqwa', 'Komal', 'Adan'],
 'fname': ['khaliq', 'Basharat', 'Waqas'],
 'courses': ['AI', 'MS', 'IS']}

In [13]:
import pandas as pd
df =pd.DataFrame(data)
df

   names     fname courses
0  Taqwa    khaliq      AI
1  Komal  Basharat      MS
2   Adan     Waqas      IS

In [18]:
data= {}
data['name'] ='Komal'   #add key value1
data['fname']='Basharat' #add key value2
data['course']="A.I"
data['name']= "Komal Basharat TQ2"
data['name'] = data['name']+" AI Student"
    
data

{'name': 'Komal Basharat TQ2 AI Student', 'fname': 'Basharat', 'course': 'A.I'}

In [19]:
data['course']

'A.I'

In [21]:
dir(data)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [23]:
data= {}
data['name'] ='Komal'   #add key value1
data['fname']='Basharat' #add key value2
data['course']="A.I"
data['name']= "Komal Basharat TQ2"    #clear but object exsists
data['name'] = data['name']+" AI Student"
    
print(data)
data.clear()
print(data)

{'name': 'Komal Basharat TQ2 AI Student', 'fname': 'Basharat', 'course': 'A.I'}
{}

In [29]:
data= {}
data['name'] ='Komal'   #add key value1
data['fname']='Basharat' #add key value2
data['course']="A.I"
data['name']= "Komal Basharat TQ2"    #clear but object exsists
data['name'] = data['name']+" AI Student"
    
print(data)
del data   #del object
print(data)

{'name': 'Komal Basharat TQ2 AI Student', 'fname': 'Basharat', 'course': 'A.I'}

NameError: name 'data' is not defined

In [30]:
data = {
    'name':'Taqwa',
    'fname':'Khaliq',
    'age':20,
    
}

data1 = data # shallow copy
data2 = data
data3 = data

data2['name']="Taqwa TQ"

print(data)
print(data1)
print(data2)
print(data3)

{'name': 'Taqwa TQ', 'fname': 'Khaliq', 'age': 20}
{'name': 'Taqwa TQ', 'fname': 'Khaliq', 'age': 20}
{'name': 'Taqwa TQ', 'fname': 'Khaliq', 'age': 20}
{'name': 'Taqwa TQ', 'fname': 'Khaliq', 'age': 20}

In [31]:
data = {
    'name':'Qasim',
    'fname':'Aslam',
    'age':30,
}

data1 = data.copy() # deep copy

data1['name']="Muhammad Qasim"

print(data)
print(data1)

{'name': 'Qasim', 'fname': 'Aslam', 'age': 30}
{'name': 'Muhammad Qasim', 'fname': 'Aslam', 'age': 30}

# From Keys

In [33]:
keys=[ 'id','name', 'fname','course','timing','address']
dict.fromkeys(keys)

{'id': None,
 'name': None,
 'fname': None,
 'course': None,
 'timing': None,
 'address': None}

In [36]:
keys= ['id' , 'name' ,'fname']


dict.fromkeys(keys,'empty')

{'id': 'empty', 'name': 'empty', 'fname': 'empty'}

# get

In [37]:
data= {
    'name':'Adan',
    'fname':'Waqas',
    'age':20,
    'Qualification':'BSIS',
    'skills' :['AI','ML','Cloud Computing'],
    0:"Pakistan"
}
data.get('name')

'Adan'

In [38]:
data.get('contact')

In [39]:
data.get('contact','not available')

'not available'

# item,keys,values

In [41]:
data= {
    'name':'Adan',
    'fname':'Waqas',
    'age':20,
    'Qualification':'BSIS',
    
}
data

{'name': 'Adan', 'fname': 'Waqas', 'age': 20, 'Qualification': 'BSIS'}

In [43]:
data.items()

dict_items([('name', 'Adan'), ('fname', 'Waqas'), ('age', 20), ('Qualification', 'BSIS')])

In [44]:
data.keys()

dict_keys(['name', 'fname', 'age', 'Qualification'])

In [45]:
data.values()

dict_values(['Adan', 'Waqas', 20, 'BSIS'])

In [48]:
for num in [1 ,2, 3, 4, 5, 6, 7, 8, 9, 10]:
      print(num)

1
2
3
4
5
6
7
8
9
10

In [49]:
for v in data.values():
      print(v)

Adan
Waqas
20
BSIS

In [50]:
for k in data.keys():
    print(k)

name
fname
age
Qualification

In [52]:
for k in ['name','age']:
       print(k, data[k])

name Adan
age 20

In [53]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [54]:
for i in data.items():
    print(i)

('name', 'Adan')
('fname', 'Waqas')
('age', 20)
('Qualification', 'BSIS')

In [55]:
a, b=(200,300)
print(a,b)

200 300

In [56]:
for k,v in data.items():
    print(k,v)

name Adan
fname Waqas
age 20
Qualification BSIS

In [58]:
a=20
def abc():
        a=50 #local
        print(a)
        
abc()
print(a)

50
20

In [59]:
a=print('Pakistan')#non-return function
print(a)

Pakistan
None

In [60]:
a=len('Pakistan')#return function
print(a)

8

In [61]:
a= type('Pakistan')#Return Function
print(a)

<class 'str'>

In [62]:
data = {
    'name':'Taqwa',
    'fname':'Khaliq',
    'age':20,
    'Qualification':'BSCS'
    
}
a=data.pop("name")#return function
print(a)
print(data)

Taqwa
{'fname': 'Khaliq', 'age': 20, 'Qualification': 'BSCS'}

In [70]:
completed_list = []
data = {
    'name':'Taqwa',
    'fname':'Khaliq',
    'age':20,
    'qualification':'BSCS',    
}
a=data.pop("name")#return function
b=data.pop("age")

completed_list.append(a)
completed_list.append(b)
print(a)
print(data)
print(completed_list)

Taqwa
{'fname': 'Khaliq', 'qualification': 'BSCS'}
['Taqwa', 20]

In [71]:
data = {
    'name':'Taqwa',
    'fname':'Khaliq',
    'age':20,
    'qualification':'BSCS',    
}
a=data.popitem()#return function
print(a)
print(data)

('qualification', 'BSCS')
{'name': 'Taqwa', 'fname': 'Khaliq', 'age': 20}