# Error Types
* Compile time error
    * during coding
* Logical Error
     * bussiness logic write wrong
* Run Time Error
    * live production applications errors

In [8]:
l = [1,2]
l[7]# try to access index 7 value

IndexError: list index out of range

In [9]:
l = [1,2]
l[0]

1

In [26]:
def my_sum(x,y):
    return x + x # write wrong logic
my_sum(7,9) # We can resolve this error through testing
#The answer should be 13 but it shows 14 therefore it is logic  x+x isnt correct

14

In [12]:
def my_sum(x,y):
    return x + y # write wrong logic

my_sum(7,9) # We can resolve this error through testing

16

In [13]:
1000*60*24

1440000

In [27]:
1000*60*2

120000

# Some Examples Of Errors

In [14]:
print("line1")
print("line2")
print(abc)   #IT DOESNT EXECUTE FURTHUR WILL FIRST RESOLVE THIS ERROR
print("Line4")
print("Line5")

line1
line2

NameError: name 'abc' is not defined

In [15]:
a = 7
b = 0
print(a / b)
print("Pakistan")

ZeroDivisionError: division by zero

In [16]:
2 + "pakistan"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [17]:
2 + (2,3,4)

TypeError: unsupported operand type(s) for +: 'int' and 'tuple'

In [18]:
2 + [1,2,3]

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [28]:
2*[2,2,3]

[2, 2, 3, 2, 2, 3]

In [19]:
int("7.2")  #Cannot be converted to integer directly

ValueError: invalid literal for int() with base 10: '7.2'

In [20]:
int(float("7.2"))

7

In [21]:
int("a")

ValueError: invalid literal for int() with base 10: 'a'

In [22]:
l = [1,2]
l[8]

IndexError: list index out of range

In [23]:
open("abc.txt")

FileNotFoundError: [Errno 2] No such file or directory: 'abc.txt'

In [24]:
a = (1,2,3)
a[0]=20

TypeError: 'tuple' object does not support item assignment

In [29]:
a = {"name":"Taqwa Khaliq",
    "fname":"Fazle Khaliq"}

a["edcation"]

KeyError: 'edcation'

In [32]:
code_a="""
a=7
b=6
print(a+b)
"""
code=compile(code_a,"aa","exec")
exec(code)

13

In [35]:
a="""
a=7
b="A"
print(a+b)
"""
b=compile(a,"aa","exec")
exec(b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

# How To Deal RunTime Error
 ` ` `
 try:
   statement
     write statement where error is most likely to occur
 except(ErrorClassName..e2,e3...)
   run if error occured in above statement
 else:
  run if error hasnt occured in above statement
 finally:
  always run
 ` ` `

In [36]:
a=7
b=0
print(a/b)

ZeroDivisionError: division by zero

In [37]:
print('Start Line')
a=7
b=0
try:
    print(a/b)
except(ZeroDivisionError):
    print('We cant divide any value by zero')
print("End Line")

Start Line
We cant divide any value by zero
End Line

In [38]:
print('Start Line')
a=6
b=3
try:
    print(a/b)
except(ZeroDivisionError):
    print('We cant divide any value by zero')
print("End Line")

Start Line
2.0
End Line

In [46]:
print('Start Line')
a=7
b=0
l=[1,2,3,4]

try:
#print(a/b)
#print(l[5])
    open("abc.txt")
except(ZeroDivisionError,FileNotFoundError,IndexError):
    print("You Write Something Wrong")

print("End Line")

Start Line
You Write Something Wrong
End Line

In [47]:
print('Start Line')
a=7
b=0
l=[1,2,3,4]

try:
    print(a/b)
except(ZeroDivisionError):
    print("Cant be divided by zero")
try:
    print(l[5])
except(IndexError):
    print("Index Not Found")
    
try:
    open("abc.txt")
except(FileNotFoundError):
    print("File NoT Found")

print("End Line")

Start Line
Cant be divided by zero
Index Not Found
File NoT Found
End Line

# Dynamic Runtime Error Handling with custom message

In [48]:
print('Start Line')
a=7
b=0
l=[1,2,3,4]
try:
    print(a/b)
except Exception  as e:
    print('u write something Wrong!',e)
    
print("End Line")

Start Line
u write something Wrong! division by zero
End Line

In [49]:
print('Start Line')
a=7
b=0
l=[1,2,3,4]
try:
    #print(a/b)
    open('abc.txt')
except Exception  as e:
    print('u write something Wrong!',e)
    
print("End Line")

Start Line
u write something Wrong! [Errno 2] No such file or directory: 'abc.txt'
End Line

In [52]:
print('Start Line')
a=6
b=3
l=[1,2,3,4]
try:
    print(a/b)
    #open('abc.txt')
except Exception  as e:
    print('u write something Wrong!',e)
else:
    print("Run if error doesnt occured in above statement")
    
print("End Line")

Start Line
2.0
Run if error doesnt occured in above statement
End Line

In [53]:
print('Start Line')
a=6
b=3
l=[1,2,3,4]
try:
    print(a/b)
    #open('abc.txt')
except Exception  as e:
    print('u write something Wrong!',e)
else:
    print("Run if error doesnt occured in above statement")
finally:
    print("Always Run")
    
print("End Line")

Start Line
2.0
Run if error doesnt occured in above statement
Always Run
End Line

In [54]:
import datetime as dt
dt.datetime.now()

datetime.datetime(2022, 10, 1, 3, 14, 51, 503506)

# Create our own Exception Class

In [56]:
class StudentCard():
    def __init__(self,roll,name,age):
        if age <18 or age >60:
            raise "Not Allowed Less Than 18 or greater than 60"
        self.roll=roll
        self.name=name
        self.age=age
s1=StudentCard(1,'TaqwaKhaliq',30)
print(s1.roll)
print(s1.name)
print(s1.age)

1
TaqwaKhaliq
30

In [57]:
s2=StudentCard(1,'TaqwaKhaliq',30)
print(s2.roll)
print(s2.name)
print(s2.age)

1
TaqwaKhaliq
30

In [67]:
class StudentCard():
    def __init__(self,roll,name,age):
        if age <18 or age >60:
            raise StudentAgeError("Not Allowed Less Than 18 or greater than 60")
        self.roll=roll
        self.name=name
        self.age=age   
class StudentAgeError(Exception):
      pass
      
s1=StudentCard(1,'KomalBasharat',30)
print(s1.roll)
print(s1.name)
print(s1.age)

1
KomalBasharat
30

In [70]:
s2=StudentCard(20,'AdanWaqas',78)

StudentAgeError: Not Allowed Less Than 18 or greater than 60

In [72]:
try:
    s2=StudentCard(20,'AdanWaqas',78)
except Exception as e:
    print("Something is Wrong",e)

Something is Wrong Not Allowed Less Than 18 or greater than 60